$primary-color: #101928;
$secondary-color: #fbd74d;
$third-color: #037aff;
$grey-color: #7c7e7c;
@mixin rTransition($tr) {
    -webkit-transition: $tr;
    -o-transition: $tr;
    transition: $tr;
}

@mixin boxShadow($sh1, $sh2) {
    -webkit-box-shadow: $sh-1, $sh-2;
    -o-box-shadow: $sh-1, $sh-2;
    -ms-box-shadow: $sh-1, $sh-2;
    box-shadow: $sh-1, $sh-2;
}
@mixin boxShadowOne($sh) {
    -webkit-box-shadow: $sh;
    -o-box-shadow: $sh;
    -ms-box-shadow: $sh;
    box-shadow: $sh;
}
@mixin objectFit($fit) {
    -o-object-fit: $fit;
    object-fit: $fit;
}
@mixin width-max-content {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
%all-section-padd {
    padding: 50px 0;
}
%absolute {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
%bg-overlay {
    position: relative;
    &:after {
        content: "";
        background-color: rgba(246, 246, 246, 0.8);
        width: 100%;
        height: 100%;
        @extend %absolute;
        top: 0;
    }
    .container {
        position: relative;
        z-index: 9;
    }
}
%background-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin dis-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@mixin flex-dir-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
@mixin flex-col-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@mixin flex-center {
    @include dis-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    @include flex-col-center;
}
%above-overlay {
    position: relative;
    z-index: 9;
}
%ellipsis {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
/************************/
.btn-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 56px;
    line-height: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
}
.btn-icon {
    font-size: 20px;
    background-color: #fff;
    color: #037aff;
    width: 40px;
    height: calc(100% - 6px);
    line-height: 47px;
    position: relative;
    z-index: 1;
}
.btn-hvr:hover .btn-icon,
.btn-hvr:focus .btn-icon {
    color: #f9a392;
}
/****** start header ***/
.my-header {
    height: auto;
    display: block;
    width: 100%;
    position: relative;
    background-color: #fbd74d;
    border-radius: 0 0 40% 40%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    @include flex-center;
    min-height: 100vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-shadow: rgba(16, 25, 40, 0.08) 0px 4px 8px 0px;
            box-shadow: rgba(16, 25, 40, 0.08) 0px 4px 8px 0px;
    & > img {
        max-width: 50%;
        max-height: 100%;
        display: block;
    }
    .head-txt {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #fff;
        border-radius: 5px;
        max-width: 500px;
        padding: 20px 40px;
        h3 {
            font-family: "Almarai-ExtraBold";
            font-size: 3em;
            margin-top: 0;
        }
        .btn-hvr {
            width: 100%;
            border-radius: 4px;
            margin: 30px 0 0 0;
            border-color: $primary-color;
            &::after {
                background-color: $primary-color;
            }
            .btn-icon {
                color: $primary-color;
            }
            &:hover,
            &:focus {
                border-color: $secondary-color;
                .btn-icon {
                    color: $secondary-color;
                }
            }
        }
    }
}
/****** end header ***/
/***********Start head titles*************/
.head-title {
    margin: 0 0 30px 0;
    h2 {
        font-family: "Almarai-Bold";
        font-size: 36px;
        font-weight: bold;
        margin: 0;
    }
}
/***********End head titles*************/
/******* Start categories Section *************/
.categories-r {
    @extend %all-section-padd;
    background-color: #fff9f9;
}
.owl-carousel.owl_categ .owl-stage-outer {
    padding: 0 4px 20px 4px;
}
.card_categ {
    border-radius: 8px;
    display: block;
    -webkit-box-shadow: rgba(16, 25, 40, 0.08) 0px 4px 8px 0px;
            box-shadow: rgba(16, 25, 40, 0.08) 0px 4px 8px 0px;
    border: 1px solid rgb(231, 232, 233);
    -webkit-transition: -webkit-box-shadow 300ms ease 0s, -webkit-transform 300ms ease 0s;
    transition: -webkit-box-shadow 300ms ease 0s, -webkit-transform 300ms ease 0s;
    -o-transition: box-shadow 300ms ease 0s, transform 300ms ease 0s;
    transition: box-shadow 300ms ease 0s, transform 300ms ease 0s;
    transition: box-shadow 300ms ease 0s, transform 300ms ease 0s, -webkit-box-shadow 300ms ease 0s, -webkit-transform 300ms ease 0s;
    .img_categ {
        height: 100px;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
        img , .owl_categ .img_categ img{
            width: 100%;
            height: 100%;
            @include objectFit(cover);
        }
    }
    .txt_categ {
        height: 46px;
        padding: 0 4px 0 8px;
        @include dis-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-family: "Almarai-Bold";
        font-size: 16px;
        p{
            margin: 0;
            @extend %ellipsis;
        }
    }
    &:hover , &:focus{
        -webkit-box-shadow: rgba(16, 25, 40, 0.16) 0px 8px 16px 0px;
                box-shadow: rgba(16, 25, 40, 0.16) 0px 8px 16px 0px;
    }
}
/*** owl navs ***/
.owl-theme.owl_categ{
    .owl-next,.owl-prev {
        position: absolute;
        top: calc(50% - 20px);
        background: rgb(255, 255, 255);
        border: 1px solid rgb(231, 232, 233);
        -webkit-box-shadow: rgba(16, 25, 40, 0.1) 0px 4px 6px 0px;
                box-shadow: rgba(16, 25, 40, 0.1) 0px 4px 6px 0px;
        outline: none;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        border-radius: 50%;
        color: $primary-color;
        padding: 0;
        font-size: 16px;
        &:hover , &:focus{
            border-color: $primary-color;
            background: rgb(255, 255, 255);
            color: $primary-color;
        }
    }
    .owl-prev {
        left: -18px;
    }
    .owl-next {
        right: -18px;
    }
}

/******* End categories Section *************/

.likerr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f9a392;
    color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0;
    font-size: 20px;
    @include rTransition(all 0.3s ease-in-out);
}
.i_liked {
    background-color: red;
}
/******* End recent products Section *************/

/*********** Responsive ****************/
@media (max-width: 991px) {
    .btn-flex {
        height: 48px;
        font-size: 16px;
        .btn-icon {
            line-height: 41px;
            font-size: 18px;
        }
    }
    /**** banner ***********/
    .head-txt {
        top: 55%;
        p {
            font-size: 14px;
        }
        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        h3 {
            margin-bottom: 0;
            font-size: 16px;
        }
        .btn-hvr {
            margin: 20px 0 0 0;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /******** banner ***/
    .my-header {
        .head-txt {
            max-width: 45%;
            h3{
                font-size: 22px;
            }
        }
    }
}
@media (max-width: 767px) {
    %all-section-padd {
        padding: 20px 0;
    }
    .head-title h2 {
        font-size: 20px;
    }
    /******** banner ***/
    .my-header {
        display: block;
        padding: 70px 10px 50px 10px;
        border-radius: 0 0 30% 0;
        min-height: unset;
        & > img {
            margin: 0 auto 20px auto;
            max-width: 300px;        
        }
        .head-txt {
            margin: 0 auto;
            text-align: center;
            padding: 20px 10px;
            h3{
                font-size: 15px;
            }
        }
    }
    /****** categories section *****/
    .owl-theme.owl_categ{
        .owl-prev {
                left: -8px;
            }
            .owl-next {
                right: -8px;
            }
        }
}
@media all and (max-width: 540px) {
}