$primary-color: #101928;
$secondary-color: #FBD74D;
$third-color: #037AFF;
$grey-color: #7c7e7c;
@mixin rTransition($tr) {
    -webkit-transition: $tr;
    -o-transition: $tr;
    transition: $tr;
}

@mixin boxShadow($sh1, $sh2) {
    -webkit-box-shadow: $sh-1, $sh-2;
    -o-box-shadow: $sh-1, $sh-2;
    -ms-box-shadow: $sh-1, $sh-2;
    box-shadow: $sh-1, $sh-2;
}
@mixin boxShadowOne($sh) {
    -webkit-box-shadow: $sh;
    -o-box-shadow: $sh;
    -ms-box-shadow: $sh;
    box-shadow: $sh;
}
@mixin objectFit($fit) {
    -o-object-fit: $fit;
    object-fit: $fit;
}
@mixin width-max-content {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
%all-section-padd {
    padding: 50px 0;
}
%absolute {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
%bg-overlay {
    position: relative;
    &:after {
        content: "";
        background-color: rgba(246, 246, 246, 0.8);
        width: 100%;
        height: 100%;
        @extend %absolute;
        top: 0;
    }
    .container {
        position: relative;
        z-index: 9;
    }
}
%background-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin dis-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@mixin flex-dir-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
@mixin flex-col-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@mixin flex-center {
    @include dis-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    @include flex-col-center;
}
%above-overlay {
    position: relative;
    z-index: 9;
}
%ellipsis {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
/************************/
.btn-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 56px;
    line-height: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
}
.btn-icon {
    font-size: 20px;
    background-color: #fff;
    color: #037AFF;
    width: 40px;
    height: calc(100% - 6px);
    line-height: 47px;
    position: relative;
    z-index: 1;
}
.btn-hvr:hover .btn-icon,
.btn-hvr:focus .btn-icon {
    color: #f9a392;
}
/****** start header ***/
.my-header {
    height: auto;
    display: block;
    width: 100%;
    position: relative;
    background-color: #FBD74D;
    border-radius: 0 0 50% 50%;
    flex-direction: row-reverse;
    @include flex-center;
    & > img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
    .head-txt {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        p {
            font-family: "Almarai-Bold";
            font-size: 16px;
            margin: 0;
        }
        h2 {
            font-size: 36px;
            font-family: "Almarai-ExtraBold";
        }
        h3 {
            font-family: "Almarai-ExtraBold";
        }
        .btn-hvr {
            max-width: 300px;
            margin: 30px 0 0 0;
            img {
                width: 32px;
            }
        }
    }
}
/****** end header ***/
/***********Start head titles*************/
.head-title {
    text-align: center;
    margin: 0 auto 30px auto;
    .head-in {
        background-image: url(../dist/img/favicon_pink2.png);
        @extend %background-cover;
        background-size: contain;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 0 auto;
        min-width: 200px;
        min-height: 84px;
        @include flex-center;
    }
    h2 {
        font-family: "Hf";
        font-size: 36px;
        font-weight: bold;
        margin: 0 auto;
    }
    p {
        font-size: 17px;
        max-width: 300px;
        margin: 0 auto;
    }
}
.head-title.no-bg .head-in {
    background-image: none !important;
}
/***********End head titles*************/
/******* Start categories Section *************/
.categories-r {
    @extend %all-section-padd;
    background-color: #fff9f9;
}
/******* End categories Section *************/

.likerr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f9a392;
    color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0;
    font-size: 20px;
    @include rTransition(all 0.3s ease-in-out);
}
.i_liked {
    background-color: red;
}
/******* End recent products Section *************/

/*********** Responsive ****************/
@media (max-width: 991px) {
    .btn-flex {
        height: 48px;
        font-size: 16px;
        .btn-icon {
            line-height: 41px;
            font-size: 18px;
        }
    }
    /**** banner ***********/
    .head-txt {
        top: 55%;
        p {
            font-size: 14px;
        }
        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        h3 {
            margin-bottom: 0;
            font-size: 16px;
        }
        .btn-hvr {
            margin: 20px 0 0 0;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
    %all-section-padd {
        padding: 20px 0;
    }
    /******** banner ***/
    .my-header {
        & > img {
            min-height: 400px;
            @include objectFit(cover);
        }
        .head-txt {
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            text-align: center;
        }
    }
    /****** categories section *****/
    .bigdivcont {
        width: 100%;
        height: 110px;
    }
    
}
@media all and (max-width: 540px) {
}