@import "first";
.navbar,
.footer,
#scroll-top {
    display: none;
}
.modal-backdrop {
    background-color: #8a8a8a;
    z-index: 991040;
}
.modal {
    z-index: 105099999;
}
.log_modal {
    padding: 0 !important;
    .modal-dialog {
        margin: 0;
        left: 10%;
    }

    .modal-content {
        @include boxShadowOne(0px 0px 12px 1px white);
        border-radius: 30px;
        border: 0;
        top: 10px;
        max-width: calc(100% - 20px);
        margin: 0 auto;
    }
}
/********************/
.login_inner {
    overflow: hidden;
    background-color: #f2f2f7;
    height: 100vh;
    overflow-y: auto;
    padding: 20px 0;
    .box_outer {
        max-width: 500px;
        margin: 0 auto;
        .box-top {
            text-align: center;
            @include dis-flex;
            flex-direction: row-reverse;
            margin: 0 auto 10px auto;
            .login-logo {
                display: block;
                max-width: 300px;
                margin: 0 auto;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    @include objectFit(contain);
                }
            }
            .to_site {
                font-size: 26px;
                float: left;
                background-color: transparent;
                &:hover,
                &:focus {
                    color: $secondary-color;
                }
            }
            h4 {
                font-family: "Almarai-ExtraBold";
            }
        }
    }
    .form-box {
        @include dis-flex;
        @include flex-dir-column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 8px;
        box-shadow: rgba(16, 25, 40, 0.08) 0px 4px 8px 0px;
        padding: 24px;
        background-color: #fff;
        margin: 0 auto 24px auto;
        h2 {
            font-family: "Almarai-ExtraBold";
            margin: 0 0 14px 0;
            text-transform: capitalize;
        }
        .big_btn {
            border-radius: 4px;
            display: block;
            font-family: "Almarai-Bold";
            margin: 0 auto;
            background-color: $primary-color;
            color: #fff;
            font-size: 18px;
            text-transform: capitalize;
            margin-bottom: 24px;
            height: 50px;
            line-height: 50px;
            max-width: 340px;
            width: 100%;
            text-align: center;
            &:first-of-type:hover , &:first-of-type:focus{
                background-color: $third-color;
            }
        }
        .btn-social {
            box-shadow: rgb(213, 215, 218) 0px 4px 6px 0px;
            border: 1px solid rgb(213, 215, 218);
            color: $primary-color;
            background-color: #ffffff;
            .btn-icon {
                color: #466ab4;
                border-right: 2px solid rgb(213, 215, 218);
                height: 100%;
                line-height: 50px;
                float: left;
                border-radius: 6px 0 0 6px;
            }
            &:hover , &:focus{
                box-shadow: rgb(255, 255, 255) 0px 4px 6px 0px;
            }
        }
        
        &:nth-last-of-type(2){
            text-align: center;
            .have_ac{
                font-size: 16px;
            }
        }
    }
    .have_ac{
        text-align: center;
        font-size: 15px;
        p{
            color: $grey-color;
        }
        a , .forgot{
            color: $third-color;
            &:hover , &:focus{
                color: $primary-color;
            }
        }
    }
}
/********* form login ****************/
.logForm {
    .form-group {
        margin: 1.3em auto;
        position: relative;
    label{
        font-family: 'Almarai-Bold';
        text-transform: capitalize;
        font-size: 15px;
        display: block;
    }
    .form-control{
        border: 1px solid #d5d7da;
        box-shadow: none;
        height: 50px;
        line-height: 50px;
        &:focus{
            border-color: $third-color;
        }
        &::-webkit-input-placeholder { /* Edge */
            color: $grey-color;
            text-transform: capitalize;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $grey-color;
            text-transform: capitalize;
          }
          &::placeholder {
            color: $grey-color;
            text-transform: capitalize;
          }
    }
    .toggle {
        background: none;
        border: none;
        font-weight: 600;
        position: absolute;
        right: .75em;
        top: 2.25em;
        z-index: 9;
        background-color: transparent;
        font-size: 18px;
        color: $primary-color;
      }
}
}
/******* input type checkbox  ********/
[type="checkbox"] {
    height: 26px;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    & + label {
        cursor: pointer;
        padding: 0;
        position: relative;
    }
    & + label:before {
        background-color: #fff;
        border: 2px solid $primary-color;
        content: "";
        display: inline-block;
        height: 24px;
        margin-right: 12px;
        pointer-events: none;
        vertical-align: middle;
        width: 24px;
        @include rTransition(all 0.3s ease-in-out);
    }
    &:hover + label:before {
        border-color: $third-color;
    }
    &:focus + label:before {
        border-color: $third-color;
        -webkit-box-shadow: 0 0 0 2px $third-color;
        box-shadow: 0 0 0 2px $third-color;
    }
    &:checked + label:after {
        color: $third-color;
        content: "✓";
        display: block;
        font-size: 20px;
        height: 18px;
        left: 5px;
        pointer-events: none;
        position: absolute;
        top: -2px;
        width: 18px;
        z-index: 10;
    }
}
/****/
.forgot {
    background-color: transparent;
    color: $primary-color;
    border: 0;
    &:hover,
    &:focus {
        color: $third-color;
    }
}
/******* sign up with mobile number ********/
.logForm .form-group .slct_n{
    position: absolute;
    right: auto;
    left: 0;
    bottom: 0;
    top: auto;
}
.logForm .select2-container .select2-selection--single {
    height: 50px;
    border-radius: 6px 0 0 6px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
    padding: 0 0 0 2px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: calc(50% - 13px);
}
label .forgot{
    color: $third-color;
}
.m-b-15{
    margin-bottom: 15px;
}
/************ confirm code .blade****************/
.grey_p{
    color: $grey-color;
    font-size: 15px;
}
$char-w: 1ch;
$gap: 0.5 * $char-w;
$n-char: 4;
$in-w: $n-char * ($char-w + $gap);
.spinInput {
    display: block;
    margin: 2em auto;
    border: none;
    padding: 0;
    width: $in-w;
    background: repeating-linear-gradient(
            90deg,
            $primary-color 0,
            $primary-color $char-w,
            transparent 0,
            transparent $char-w + $gap
        )
        0 100% / #{$in-w - $gap} 2px no-repeat;
    font-family: "Almarai-ExtraBold";
    letter-spacing: $gap;
    font-size: 22px;
    &:focus {
        outline: none;
        color: $third-color;
    }
}
/************* Responsive ***********/
@media (max-width: 991px) {
    .login_inner {
        position: relative;
        .box_outer .box-top{
            .login-logo{
                display: none;
            }
            .to_site{
                position: absolute;
                left: 20px;
            }
        }
    }
}
@media (max-width: 767px) {
    .login_inner {
        background-color: #fff;
         .box_outer {
            max-width: unset;
            .box-top {
                .to_site {
                    top: 4px;
                }
            }
        .form-box {
            padding: 20px;
            box-shadow: none;
            background-color: transparent;
            border-radius: 0;
            margin: 0 auto;
            .big_btn{
                margin: 0 auto 16px auto;
            }
            &:nth-last-of-type(2){
                border-top: 1px solid rgb(231, 232, 233);
            }
            h2 {
                font-size: 20px;
            }
        }
    }
    }
    .logForm {
      .form-group.flex-r{
            display: block;
            .forgot {
                margin: 14px auto 0 auto;
                display: block;
            }
        }
        .form-group label {
            font-size: 13px;
        }
    }
    .logForm .col-xs-6, .logForm .col-xs-12 {
        padding: 0 4px;
    }
    .logForm .form-group {
        margin: 0 auto 1em auto;
    }
}
